@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-slate-200;
  @apply w-full;
}

.active-modal {
  @apply overflow-hidden;
}

@media (min-width: 1024px) {
  .modal-padding {
    padding: 12vh;
  }

  .filter-button {
    width: 50vh;
    left: calc(50% - 50vh / 2);
  }
}

@media (max-width: 1024px) {
  .modal-padding {
    padding: 2vh;
  }

  .filter-button {
    width: calc(100vw - (0.5rem * 2));
  }
}
